Source: ruby-moob
Section: ruby
Priority: optional
Maintainer: Pierre Carrier <pierre@spotify.com>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.3~), ruby-patron
Standards-Version: 3.9.1
Homepage: https://github.com/spotify/moob
XS-Ruby-Versions: all

Package: ruby-moob
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, ruby-patron, libjson-ruby
Description: Manage Out-Of-Band!
 Control systems using Web-based out-of-band managers without a browser
